/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/components/NavBar.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/* app/components/NavBar.module.css */
.NavBar_nav__Kb_i8 {
  background-color: #333;
  padding: 10px;
}

.NavBar_navList__dXYct {
  list-style: none;
  display: flex;
  gap: 20px;
}

.NavBar_navItem__9F9EH a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.NavBar_navItem__9F9EH a:hover {
  text-decoration: underline;
}

